.nav{
    color : red;
    font-size: 20px;  
    background-color: gold; 
    text-decoration: none; 
}
.head{
    color: blue;
    font-size: 30px;
    text-align: center;
}
h1{
    color: green;
    text-align: center;
}

h2{
    color: purple;
    text-align: center;
}